/* 
 Endless Raider V3 global styles
 ============================================*/

@import 'reset';
@import 'components/form';
@import 'components/helpers';
@import 'components/nav';
@import 'components/header';
/*@import 'calendar';
@import 'profile';
@import 'events';
@import 'event';
@import 'players';
@import 'player';
@import 'games';
@import 'game'; */

/* Main content */
.main {
	margin: 0 0 0 250px;
}

/* Content */
.content {
	min-height: 300px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
}

/* Helpers */
.toggle-content {
	display: none;
}
.toggle-active {
	display: block;
}