/* 
 Endless Raider V3 global styles
 ============================================*/

@import 'reset';
@import 'components/icons';
@import 'components/form';
@import 'components/helpers';
@import 'components/modal';
@import 'components/nav';
@import 'components/header';
@import 'components/calendar';
/*@import 'profile';
@import 'events';
@import 'event';
@import 'players';
@import 'player';
@import 'games';
@import 'game'; */

/* Main content */
.main {
	margin: 0 0 0 250px;
}

/* Content */
.content {
	min-height: 300px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
}

/* Helpers */
.toggle-content {
	display: none;
}
.toggle-active {
	display: block;
}

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #8a3232;
	z-index: 10;
}