label {
	display: block;
	font-size: 1.3em;
	color: #8a3232;
	font-weight: bold;
	text-transform: capitalize;
	margin: 20px 0 0 0;
}
input[type="text"],
input[type="date"],
input[type="time"],
select {
	width: 200px;
	height: 50px;
	font-size: 1.1em;
	color: #666;
	line-height: 50px;
	margin: 10px 0;
	padding: 0 0 0 10px;
	border: 1px solid #ccc;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&:hover,
	&:focus {
		border-color: #8a3232;
	}
}
input[type="submit"],
button {
	font-family: 'Open Sans Condensed';
	font-size: 1.3em;
	color: #fff;
	background: #8a3232;
	border: 0 none;
	text-transform: uppercase;
	padding: 10px 40px;
	margin: 20px 0;
	cursor: pointer;
	outline: none;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
	&:hover {
		background: #A04242;
	}
	&.edit {
		display: inline-block;
		vertical-align: middle;
		font-size: 1em;
		padding: 3px 10px;
		margin: 0 10px;
		background: #999;
		&:hover {
			background: #996;
		}
	}
	&.remove {
		display: inline-block;
		vertical-align: middle;
		font-size: 1em;
		padding: 3px 10px;
		margin: 0 10px;
		background: #999;
		&:hover {
			background: #BB6E66;
		}
	}
}
select {
	display: block;
	width: 200px;
	height: 50px;
	font-size: 1.1em;
	color: #666;
	line-height: 50px;
	margin: 10px 0;
	padding: 0 0 0 10px;
	border: 1px solid #ccc;
}

input[type="date"] {
	width: 135px;
}
input[type="time"] {
	width: 80px;
}